@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
  font-family: "Press Start 2P", system-ui;
  text-align: center;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, rgba(250,255,0,1) 30%, rgba(255,0,0,1) 100%);
}

.main {
  background-color: rgba(251, 255, 0, 0.377);
  border: 5px solid black;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10%;
}

#pokemon-logo {
  margin-top: 20px;
  width: 50%;
}

.sp-attack,
.sp-defense {
  display: none;
}


@media (min-width: 1200px) {
  .main {
    border-radius: 5%;
  }
}

@media ((min-width: 992px) and (max-width: 1200px)) {

  .sp-attack,
  .sp-defense {
    display: inherit;
    visibility: visible;
  }

  .special-attack,
  .special-defense {
    display: none;
  }
}

@media (min-width: 992px) {
  img#sprite {
    margin-top: -50px
  }
  #pokemon-logo {
    width: 40%;
  }
}

@media (max-width: 432px) {
  .main {
    width: 95%;
  }

  body {
    height: 120vh;
  }

  .sp-attack,
  .sp-defense {
    display: inherit;
    visibility: visible;
  }

  .special-attack,
  .special-defense {
    display: none;
  }
}

#image-div {
  margin: auto;
}

.nameid {
  margin-top: 25px;
}

p {
  font-size: 1.2em;
}

#image-div>img {
  width: 200px;
  height: 200px;
}

.search {
  margin-top: 50px;
}

.search > * {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#search-button {
  outline: none;
  border: none;
  border-radius: 10px;
  box-shadow: 0 9px #999;
}

#search-button:hover {
    background: linear-gradient(70deg, rgba(255,0,0,1) 30%, rgba(250,255,0,1) 100%);
}

#search-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.stats {
  margin-bottom: 10px;
}

.stats p {
  text-align: end;
}

.stats p span {
  display: inline-block;
  background-color: white;
  border-radius: 5px;
  width: 85px;
}

#types {
  margin-bottom: 20px;
}

.type {
  border-radius: 5px;
  padding: 5px;
  margin-left: 5px;
  border: 1px solid black;
}


.electric {
  background-color: #F7D02C;
}

.grass {
  background-color: #7AC74C;
}

.poison {
  background-color: #A33EA1;
  color: white;
}

.normal {
  background-color: #A8A77A;
}

.fire {
  background-color: #EE8130;
}

.water {
  background-color: #6390F0;
}

.ice {
  background-color: #96D9D6;
}

.fighting {
  background-color: #C22E28;
  color: white;
}

.ground {
  background-color: #E2BF65;
}

.flying {
  background-color: #A98FF3;
}

.psychic {
  background-color: #F95587;
}

.bug {
  background-color: #A6B91A;
}

.rock {
  background-color: #B6A136;
}

.ghost {
  background-color: #735797;
  color: white;
}

.dragon {
  background-color: #735797;
  color: white;
}

.dark {
  background-color: #705746;
  color: white;
}

.steel {
  background-color: #B7B7CE;
}

.fairy {
  background-color: #D685AD;
}